<div class="flex flex-row h-[38rem]">
    <div class="bg-[#BFAEDB] w-1/2 text-center">
        <div class="mt-20">
            <h1 class="text-5xl">Bonjour</h1>
            <h3 class="mt-6 text-3xl"> Et bienvenue !</h3>
        </div>
        <div class="mt-20">
            <h2 class="text-3xl">Je m'apelle <strong>Céline Louvel</strong>.</h2>
            <h2 class="mt-6 text-2xl">et je suis <strong>développeuse web</strong> et <strong>mobile</strong></h2>
        </div>
    </div>
    <div class="bg-homePage bg-no-repeat opacity-80 w-1/2 flex items-center justify-center">
        <div class="">
            <h3 class="text-7xl text-white font-bebasNeue">Dev <br> Web <br> & <br> Mobile</h3>
        </div>
    </div>
</div>